.dummyimage{
  animation: float 2s ease-in-out infinite;
      
}

@keyframes float {
  0% {
    transform: translateY(0); /* Initial position */
  }
  50% {
    transform: translateY(-10px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Back to initial position */
  }
}